body{
    margin:0px;
    background-size: cover;         /* Makes it stretch to fit the screen */
    background-repeat: no-repeat;   /* Prevents it from tiling */
    background-position: center;
    background-image: url("img.jpeg");
    background-color: rgb(180, 202, 202);
    padding: 0;
    margin:0;
}
header{
    text-align: center;
    
    color:brown;
    margin:0 auto;
    padding : 20px;
}
.content{
    text-align: center;
    border:2px solid black;
    border-radius: 10px;
    max-width: 1000px;
    color: white;
    margin: 0 auto;
    margin-top: 10px;
    background-color: brown;
    padding: 2px;
}
.size{
    width: 100%;
}
.ach h1{
    text-align: center;
}
.ach{
    background-color: brown;
    text-align: left;
    margin:0 auto;
    color:white;
    border:2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 1000px;
}
.ach ul {
    list-style-type: disc;
    padding-left: 20px;
}

.ach li {
    margin-bottom: 10px;
}
footer{
    text-align: center;
    padding: 5px;
    
    color:brown;
    margin-top: 2px;
    bottom: 0;
    width: 100%;
}
